{% load static %}

<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LITRevu</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
</head>
<body>
    <div class="Content-menu-base">
      <nav class="title_page_base"><a href="{% url 'feed' %}">LITReview</a></nav>

      <div class="Content-menu-base_item">

        {% if user.is_authenticated %}
          <p><a href="{% url 'feed' %}">Flux</a></p>
          <p><a href="{% url 'page_post' %}">Posts</a></p>
          <p><a href="{% url 'follower_user' %}">Abonnements</a></p>

          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <div class="base_deconnecter">
              <button type="submit">Se deconnecter</button>
            </div>
          </form>

        {% endif %}
        
      </div>

    </div>
    <div class="main">
      {% block content %}{% endblock content %}
    </div>

</body>
</html>