{% extends "base.html" %}

{% block content %}
    <p>{{user}} Vous êtes connecté</p>
    {% comment %} <div class="item-button">
        <a href="{% url 'ticket-review' ticket_id=ticket.id %}">Demander une critique</a>
    </div>
    <div class="item-button">
        <a href="{% url 'create_ticket_and_review' %}">Créer une critique</a>
    </div> {% endcomment %}
    <div class="container_home">
        {% for ticket in tickets  %}
        <div class="container_home-item-ticket">
            <div class="container_home-item-modify">
                <p>Ticket {{ ticket.user }}</p>
                <h2>{{ ticket.title }}</h2>
                {% if ticket.image %}
                    <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}" >
                {% endif %}
                <p>{{ ticket.description }}</p>

                <div class="container-ticket_button">
                    {% if user.is_authenticated and ticket.user == user %}
                        {% comment %} <div class="item-button">
                            <a href="{% url 'ticket-review' ticket_id=ticket.id %}">Demander une critique</a>
                        </div> {% endcomment %}
                        <div class="item-button">
                            <a href="{% url 'create_ticket_and_review' %}">Créer une critique</a>
                        </div>
                        <div class="item-button">
                            <a href="{% url 'update-ticket' update_id=ticket.id %}">Modifier</a>
                        </div>
                        <div class="item-button">
                            <a href="{% url 'delete-ticket' pk=ticket.id %}">Supprimer</a>
                        </div>
                    {% endif %}
                </div>
            </div>

            {% comment %} <p>{{ ticket.user }} a demandé une critique</p>
            <p>{{ ticket.description }}</p>     {% endcomment %}
        
        </div>
        {% endfor %}
    </div>

{% endblock content %}

