{% extends "base.html" %}

{% block content %}
<div class="contianer_review">
    <h2>Vous êtes en train de demander une critique pour le ticket: {{ ticket.user }}</h2>

    <div class="contianer_review-item">
        <p>Ticket: {{ ticket.user }} </p>
        <p>{{ ticket.title }}</p>
        {% if ticket.image %}
            <img src="{{ ticket.image.url }}">
        {% endif %}
    </div>


    <form method="post">
<!-- radio_buttons.html -->
        {% for radio in widget %}
            <label>
                {{ radio.choice_value }}
                <input type="checkbox" name="" id="">
            </label>
        {% endfor %}
            
        {{ form.as_p }}
        {% csrf_token %}

        <div class="button-content">
            <button type="submit">Valider</button>
        </div>

    </form>

</div>



{% endblock content %}