*, 
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    color: #f1f1f1;
    /* height: 100%; */
    margin: 0 auto;
    max-width: 1100px;
    background: #051923;
    border-right: 1px solid #f1f1f14f;
    border-left: 1px solid #f1f1f14f;
    font-family: Montserrat, Helvetica, sans-serif;
}

.Content-menu-base{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 32px ;
    background-color: #1d3557;
    box-shadow: 5px 5px 5px 5px #0b1222;
}
.Content-menu-base_item{
    display: flex;
}
.Content-menu-base p a{
    color: #f1f1f1;
    margin: 0 15px;
    list-style: none;
    text-decoration: none;
    font-size: clamp(14px, 2vw, 16px);
}
.title_page_base a{
    color: #f1f1f1;
    font-size: clamp(18px, 4vw, 20px);
    list-style: none;
    text-decoration: none;

}

.base_deconnecter button{
    color: #f1f1f1;
    border: none;
    background: none;
    cursor: pointer;
    font-size: clamp(14px, 2vw, 16px);
}


/* Container signup */
.signup-container-rediredirect h2{
    font-size: clamp(18px, 4vw, 26px);
    margin: 0 0 16px;
}
.signup-container-rediredirect-a{
    display: flex;
    justify-content: center;
}
.signup-container-rediredirect a{
    color: #f1f1f1;
    text-align: center;
    list-style: none;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: .5s all;
}
.signup-container-rediredirect a:hover{
    background: #0466cf;
}
.signup-container {
    display: flex;
    justify-content: center;
}
.signup-container{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-container form h2{
    text-align: center;
    padding: clamp(10px, 0%, 20px) 0 20px;
    font-size: clamp(16px, 2vw, 28px);
}
.rediredirect-login{
    text-align: center;
    padding-top: 20px;
    font-size: clamp(15px, 2vw, 18px);
}
.signup-container p a{
    list-style: none;
    color: #f1f1f1;
}

/* Container login */
.container{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 clamp(10px, 12vw, 120px);
}

.delete_ticket h2,
.container_login h2, 
.container_followUser h2,
.contianer_createTicket h2,
.contianer_create-review h2,
.contianer_review h2{
    text-align: center;
    padding: clamp(10px, 0%, 10px) 0 10px;
    font-size: clamp(16px, 2vw, 20px);
}
.container_login-inputLabel label,
.signup-container_inputLabel label{
    display: flex;
}
#id_username,
#id_password, 
.signup-containe, 
form p textarea, select, input{
    width: 340px;
    outline: none;
    margin: .5rem 0;
    padding: 10px 10px;
    border-radius: 8px;
    font-size: clamp(14px, 2vw, 16px);
    border: 1px solid #f1f1f1;
}

.signup-button-content, 
.button-content{
    display: flex;
    justify-content: center;
    padding: clamp(10px, 0%, 20px) 0 0;
}

.delete_ticket button,
.container_followUser button,
.contianer_createTicket button,
.signup-button-content button, 
.contianer_review button,
.contianer_create-review button,
.container_login
button{
    color: #f1f1f1;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    cursor: pointer;
    transition: .5s all;
    font-size: clamp(14px, 2vw, 16px);
}
.button-content .redict_home{
    color: #f1f1f1;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #b80505;
    text-decoration: none;
    margin: 0 auto 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(14px, 2vw, 16px);
}
.delete_ticket button:hover,
.container_followUser ul a:hover,
.container_followUser button:hover,
.contianer_createTicket button:hover,
.signup-button-content button:hover,
.contianer_review button:hover,
.contianer_create-review button:hover,
.container_login button:hover{
    background: #0466cf;
}

.container_followUser,
.contianer_createTicket,
.contianer_create-review,
.contianer_review,
.delete_ticket,
.container_home{
    /* height: 80%; */
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container_home{
    margin-top: 1rem;
}

.contianer_create-review fieldset{
    padding: 2rem;
    margin: 2rem 0;
}
.contianer_review, 
.contianer_create-review {
    margin: 0 0 4rem;
}
.contianer_review-item{
    max-width: 60%;
    height: 50vh;
    padding: 1rem 1rem;
    border: 1px solid #f1f1f1;
}
.container_home-item-ticket{
    background: #14263d;
    width: 600px;
    padding: .5rem .5rem .5rem .5rem;
}
.container_home-item-modify{
    padding: 1rem 1rem;
    border-radius: 8px;
    background: -webkit-linear-gradient(left, #020102, #101e31);
}
.container_home-item-modify 
.container-ticket_button{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
.container-ticket_button 
.item-button{
    margin: 0 0 12px 10px;
}
.container-ticket_button 
.item-button a{
    color: #f1f1f1;
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid #f1f1f1;
    padding: 5px 8px;
}
.contianer_review-item p{
    padding: .5rem 0;
}
.container_home-item-ticket img,
.contianer_review img{
    width: 50%;
    padding-top: 1rem;
    border-radius: 10px;
}
.container_home-item-ticket p, h2{
    margin: 10px 0;
}

.container_followUser form p label,
.contianer_createTicket form p label,
.contianer_create-review form p label,
.contianer_review p label{
    display: flex;
    flex-direction: column;
    padding: 15px 0 0;
}
.container_followUser h2{
    margin-top: 2rem;
}
.container_followUser ul{
    width: 70%;
    height: 20%;
    list-style: none;
    border-radius: 6px;
    border: 1px solid #f1f1f1;
}
.container_followUser ul a{
    color: #f1f1f1;
    text-decoration: none;
    padding: 8px 8px;
    /* border-radius: 6px; */
    background: #007bff;
    transition: .5s all;
}
.container_followUser ul li {
    padding: 8px 8px;
}
.container_followUser .unfollow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.delete_ticket h2{
    margin: -1rem;
}
.delete_ticket p{
    margin: 1.5rem;
}
.delete_ticket img{
    width: 50%;
}